<div>
  <h2 id="page-heading" data-cy="TargetProductSchemaHeading">
    <span jhiTranslate="catalogApp.targetProductSchema.home.title">Target Product Schemas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="catalogApp.targetProductSchema.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-target-product-schema"
        [routerLink]="['/target-product-schema/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="catalogApp.targetProductSchema.home.createLabel"> Create a new Target Product Schema </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="targetProductSchemas?.length === 0">
    <span jhiTranslate="catalogApp.targetProductSchema.home.notFound">No Target Product Schemas found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="targetProductSchemas && targetProductSchemas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="schemaLocation">
            <div class="d-flex">
              <span jhiTranslate="catalogApp.targetProductSchema.schemaLocation">Schema Location</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="catalogApp.targetProductSchema.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let targetProductSchema of targetProductSchemas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/target-product-schema', targetProductSchema.id, 'view']">{{ targetProductSchema.id }}</a>
          </td>
          <td>{{ targetProductSchema.schemaLocation }}</td>
          <td>{{ targetProductSchema.type }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/target-product-schema', targetProductSchema.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/target-product-schema', targetProductSchema.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(targetProductSchema)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
