<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-method-heading"
        data-cy="PaymentMethodCreateUpdateHeading"
        jhiTranslate="catalogApp.paymentMethod.home.createOrEditLabel"
      >
        Create or edit a Payment Method
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.id" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.href" for="field_href">Href</label>
          <input type="text" class="form-control" name="href" id="field_href" data-cy="href" formControlName="href" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.authorizationCode" for="field_authorizationCode"
            >Authorization Code</label
          >
          <input
            type="text"
            class="form-control"
            name="authorizationCode"
            id="field_authorizationCode"
            data-cy="authorizationCode"
            formControlName="authorizationCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.isPreferred" for="field_isPreferred">Is Preferred</label>
          <input
            type="checkbox"
            class="form-check"
            name="isPreferred"
            id="field_isPreferred"
            data-cy="isPreferred"
            formControlName="isPreferred"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.statusDate" for="field_statusDate">Status Date</label>
          <div class="d-flex">
            <input
              id="field_statusDate"
              data-cy="statusDate"
              type="datetime-local"
              class="form-control"
              name="statusDate"
              formControlName="statusDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.statusReason" for="field_statusReason">Status Reason</label>
          <input
            type="text"
            class="form-control"
            name="statusReason"
            id="field_statusReason"
            data-cy="statusReason"
            formControlName="statusReason"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.validForFrom" for="field_validForFrom">Valid For From</label>
          <div class="d-flex">
            <input
              id="field_validForFrom"
              data-cy="validForFrom"
              type="datetime-local"
              class="form-control"
              name="validForFrom"
              formControlName="validForFrom"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.validForTo" for="field_validForTo">Valid For To</label>
          <div class="d-flex">
            <input
              id="field_validForTo"
              data-cy="validForTo"
              type="datetime-local"
              class="form-control"
              name="validForTo"
              formControlName="validForTo"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.schemaLocation" for="field_schemaLocation"
            >Schema Location</label
          >
          <input
            type="text"
            class="form-control"
            name="schemaLocation"
            id="field_schemaLocation"
            data-cy="schemaLocation"
            formControlName="schemaLocation"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.relatedPlace" for="field_relatedPlace">Related Place</label>
          <select
            class="form-control"
            id="field_relatedPlace"
            data-cy="relatedPlace"
            name="relatedPlace"
            formControlName="relatedPlace"
            [compareWith]="compareRelatedPlace"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="relatedPlaceOption" *ngFor="let relatedPlaceOption of relatedPlacesSharedCollection">
              {{ relatedPlaceOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="catalogApp.paymentMethod.relatedParty" for="field_relatedParty">Related Party</label>
          <select
            class="form-control"
            id="field_relatedParty"
            data-cy="relatedParty"
            name="relatedParty"
            formControlName="relatedParty"
            [compareWith]="compareRelatedParty"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="relatedPartyOption" *ngFor="let relatedPartyOption of relatedPartiesSharedCollection">
              {{ relatedPartyOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
