<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="productSpecificationCharacteristic">
      <h2 data-cy="productSpecificationCharacteristicDetailsHeading">
        <span jhiTranslate="catalogApp.productSpecificationCharacteristic.detail.title">Product Specification Characteristic</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.configurable">Configurable</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.configurable }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.description">Description</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.description }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.extensible">Extensible</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.extensible }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.id">Id</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.id }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.isUnique">Is Unique</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.isUnique }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.maxCardinality">Max Cardinality</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.maxCardinality }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.minCardinality">Min Cardinality</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.minCardinality }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.name">Name</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.name }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.regex">Regex</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.regex }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.validForFrom">Valid For From</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.validForFrom | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.validForTo">Valid For To</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.validForTo | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.valueType">Value Type</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.valueType }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.schemaLocation">Schema Location</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.schemaLocation }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.type">Type</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.type }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.productSpecificationCharacteristic.valueSchemaLocation">Value Schema Location</span></dt>
        <dd>
          <span>{{ productSpecificationCharacteristic.valueSchemaLocation }}</span>
        </dd>
        <dt>
          <span jhiTranslate="catalogApp.productSpecificationCharacteristic.productSpecificationCharacteristicRelationship"
            >Product Specification Characteristic Relationship</span
          >
        </dt>
        <dd>
          <div *ngIf="productSpecificationCharacteristic.productSpecificationCharacteristicRelationship">
            <a
              [routerLink]="[
                '/product-specification-characteristic-relationship',
                productSpecificationCharacteristic.productSpecificationCharacteristicRelationship.id,
                'view'
              ]"
              >{{ productSpecificationCharacteristic.productSpecificationCharacteristicRelationship.id }}</a
            >
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/product-specification-characteristic', productSpecificationCharacteristic.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
