<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="relatedParty">
      <h2 data-cy="relatedPartyDetailsHeading"><span jhiTranslate="catalogApp.relatedParty.detail.title">Related Party</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="catalogApp.relatedParty.id">Id</span></dt>
        <dd>
          <span>{{ relatedParty.id }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.relatedParty.href">Href</span></dt>
        <dd>
          <span>{{ relatedParty.href }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.relatedParty.name">Name</span></dt>
        <dd>
          <span>{{ relatedParty.name }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.relatedParty.role">Role</span></dt>
        <dd>
          <span>{{ relatedParty.role }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.relatedParty.schemaLocation">Schema Location</span></dt>
        <dd>
          <span>{{ relatedParty.schemaLocation }}</span>
        </dd>
        <dt><span jhiTranslate="catalogApp.relatedParty.type">Type</span></dt>
        <dd>
          <span>{{ relatedParty.type }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/related-party', relatedParty.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
