<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-event-heading"
        data-cy="EventCreateUpdateHeading"
        jhiTranslate="paymentmethodApp.paymentmethodEvent.home.createOrEditLabel"
      >
        Create or edit a Event
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="paymentmethodApp.paymentmethodEvent.correlationId" for="field_correlationId"
            >Correlation Id</label
          >
          <input
            type="text"
            class="form-control"
            name="correlationId"
            id="field_correlationId"
            data-cy="correlationId"
            formControlName="correlationId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="paymentmethodApp.paymentmethodEvent.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="paymentmethodApp.paymentmethodEvent.domain" for="field_domain">Domain</label>
          <input type="text" class="form-control" name="domain" id="field_domain" data-cy="domain" formControlName="domain" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="paymentmethodApp.paymentmethodEvent.eventId" for="field_eventId">Event Id</label>
          <input type="text" class="form-control" name="eventId" id="field_eventId" data-cy="eventId" formControlName="eventId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="paymentmethodApp.paymentmethodEvent.eventTime" for="field_eventTime">Event Time</label>
          <div class="d-flex">
            <input
              id="field_eventTime"
              data-cy="eventTime"
              type="datetime-local"
              class="form-control"
              name="eventTime"
              formControlName="eventTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="paymentmethodApp.paymentmethodEvent.eventType" for="field_eventType">Event Type</label>
          <input type="text" class="form-control" name="eventType" id="field_eventType" data-cy="eventType" formControlName="eventType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="paymentmethodApp.paymentmethodEvent.href" for="field_href">Href</label>
          <input type="text" class="form-control" name="href" id="field_href" data-cy="href" formControlName="href" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="paymentmethodApp.paymentmethodEvent.id" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="paymentmethodApp.paymentmethodEvent.priority" for="field_priority">Priority</label>
          <input type="text" class="form-control" name="priority" id="field_priority" data-cy="priority" formControlName="priority" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="paymentmethodApp.paymentmethodEvent.timeOccurred" for="field_timeOccurred"
            >Time Occurred</label
          >
          <div class="d-flex">
            <input
              id="field_timeOccurred"
              data-cy="timeOccurred"
              type="datetime-local"
              class="form-control"
              name="timeOccurred"
              formControlName="timeOccurred"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="paymentmethodApp.paymentmethodEvent.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
