<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="productSpecificationRelationship">
      <h2 data-cy="productSpecificationRelationshipDetailsHeading">
        <span jhiTranslate="specificationApp.specificationProductSpecificationRelationship.detail.title"
          >Product Specification Relationship</span
        >
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="specificationApp.specificationProductSpecificationRelationship.href">Href</span></dt>
        <dd>
          <span>{{ productSpecificationRelationship.href }}</span>
        </dd>
        <dt><span jhiTranslate="specificationApp.specificationProductSpecificationRelationship.id">Id</span></dt>
        <dd>
          <span>{{ productSpecificationRelationship.id }}</span>
        </dd>
        <dt><span jhiTranslate="specificationApp.specificationProductSpecificationRelationship.name">Name</span></dt>
        <dd>
          <span>{{ productSpecificationRelationship.name }}</span>
        </dd>
        <dt>
          <span jhiTranslate="specificationApp.specificationProductSpecificationRelationship.relationshipType">Relationship Type</span>
        </dt>
        <dd>
          <span>{{ productSpecificationRelationship.relationshipType }}</span>
        </dd>
        <dt><span jhiTranslate="specificationApp.specificationProductSpecificationRelationship.validForFrom">Valid For From</span></dt>
        <dd>
          <span>{{ productSpecificationRelationship.validForFrom | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="specificationApp.specificationProductSpecificationRelationship.validForTo">Valid For To</span></dt>
        <dd>
          <span>{{ productSpecificationRelationship.validForTo | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="specificationApp.specificationProductSpecificationRelationship.schemaLocation">Schema Location</span></dt>
        <dd>
          <span>{{ productSpecificationRelationship.schemaLocation }}</span>
        </dd>
        <dt><span jhiTranslate="specificationApp.specificationProductSpecificationRelationship.type">Type</span></dt>
        <dd>
          <span>{{ productSpecificationRelationship.type }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/specification/product-specification-relationship', productSpecificationRelationship.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
